# IDEs and OS files
.vscode/
.directory

# uhhhh atom stuff
test.atom
test.py
testlegacy.atom
legacy/

# build output and installed packages
atom3.exe
*.exe~
atom3
atom_modules/
atom-linux-amd64
atom-certs/
atom.exe
web.zip
dist/
installer/atom.exe
*.test.exe
HANDOFF.md
design/atom-neo-site.html
